<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">

    <jee:jndi-lookup id="securityDataSource" jndi-name="jdbc/standard" expected-type="javax.sql.DataSource" />

    <ldap-server url="ldap://localhost:10389/dc=springframework,dc=org" />


    <http pattern="/scripts/**" security="none"/>
    <http pattern="/styles/**" security="none"/>

    <http>
        <intercept-url pattern="/secure/*" access="ROLE_ADMIN" />
        <form-login/>
        <logout />
    </http>

    <authentication-manager>
        <ldap-authentication-provider user-dn-pattern="uid={0},ou=people" group-search-base="ou=groups"/>
    </authentication-manager>

</beans:beans>